<div>
  <h1 class="text-center">Users List</h1>

  <div class="users_container">
    <div class="user_card" *ngFor="let user of usersList"> 
      <h3 [routerLink]="['/user-detail', user.id]">{{user.name}}</h3>
    </div>
  </div>
  
</div>