.users_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  align-items: center;
}

h1{
  margin-bottom: 10px;
}

.user_card{
  padding: 10px;
  border: 1px solid #3CACAE;
  background-color: #C8F4F9;
  border-radius: 5px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  transition: 0.6s ease-in-out;

  h3{
    color: #1d1c1c
  }

  &:hover{
    cursor: pointer;
    background-color: #3CACAE;
    border: 1px solid #C8F4F9;
    width: 75%;
  }
}

