<h1 class="text-center">Tasks List</h1>
<div class="task_container">
  <div *ngFor="let task of taskList">
    <div class="task_card">
      <h5 [routerLink]="['/todo-detail', task.id]">{{ task.title }}</h5>
    </div>
  </div>
</div>
