<h1 class="text-center">{{user?.name}} Posts</h1>
<div class="posts_container">
  <div *ngFor="let posts of postsByUser">
    <div class="post_card">
      <h4>{{ posts.title }}</h4>
      <button class="btn" [routerLink]="['/post-detail', posts.id]">ver detalle</button>
    </div>
  </div>
</div>
