.posts_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.post_card{
  background-color: rgba($color: #DEE2EC, $alpha: 0.6);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  height: 110px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  height: 120px;

  h4{
    font-size: 22px;
    text-align: center;
  }
}