<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"> SuperBlog </a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/posts" routerLinkActive="active">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/albums" routerLinkActive="active">Albums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/todos" routerLinkActive="active">Tasks</a>
        </li>
      </ul>
    </div>
  </div>
</nav>