<h1 class="text-center">Post Detail</h1>
<div class="card_detail">
  <h4>{{ postDetail.title }}</h4>
  <p>{{ postDetail.body }}</p>
  <div class="btn_container">
    <button class="btn" [routerLink]="['/user-detail', id]">ver usuario</button>
    <button class="btn" [routerLink]="['/comments', id]">ver comentarios</button>
  </div>
</div>
