.task_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.task_card{
  background-color: rgba($color: #DEE2EC, $alpha: 0.6);
  padding: 10px;
  border-radius: 5px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  height: 65px;

  &:hover{
    cursor: pointer;
  }
}