.task{
  background-color: rgba($color: #DEE2EC, $alpha: 0.6);
  padding: 10px;
  border-radius: 5px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}