<h1 class="text-center">Task Detail</h1>
<div class="task">
  <h5>{{task?.title}}</h5>
  <div class="form-check form-switch">
    <label class="form-check-label" for="flexSwitchCheckChecked" *ngIf="task.completed == false">Tarea Pendiente</label>
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [checked]="task.completed == true" (click)="changeTaskState()">
    <label class="form-check-label" for="flexSwitchCheckChecked" *ngIf="task.completed == true">Tarea Realizada</label>
  </div>
</div>
