<h1 class="text-center">Posts List</h1>

<div class="posts_grid">
  <div *ngFor="let post of postsList">
    <div [routerLink]="['/post-detail', post.id]" class="post_card" >
      <h4>{{ post.title }}</h4>
      <p>{{ post.body | texts }}</p>
    </div>
  </div>
</div>
