.posts_grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}

.post_card{
  padding: 15px;
  height: 200px;
  border-radius: 5px;
  background-color: rgba($color: #DEE2EC, $alpha: 0.6);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  &:hover{
    cursor: pointer;
  }
}