<h1 class="text-center">Album Detail</h1>
<div class="album_card">
  <h4>{{album?.title}}</h4>
  <div class="btn_container">
    <button class="btn" [routerLink]="['/galery', album?.userId]">Ver fotos</button>
    <button class="btn" [routerLink]="['/user-detail', album?.userId]">Ver usuario</button>
  </div>
</div>
