<div class="container">
  <footer class="py-3 my-4 ">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a class="nav-link px-2 text-muted" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-muted" routerLink="/posts">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-muted" routerLink="/albums">Albums</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-muted" routerLink="/todos">Tasks</a>
      </li>
    </ul>
    <p class="text-center text-muted">Created By: Angel Mejia - August 2021</p>
  </footer>
</div>
