<div class="card_container">
  <h1 class="text-center"> {{user?.name}} </h1>
  <p>Full name: {{user?.name}} </p>
  <p>Web page: {{user?.website}}</p>
  <p>Company: {{user?.company.name}}</p>
  <div class="btn_container">
    <button class="btn" [routerLink]="['/posts-by-user', user.id]"> See Posts </button>
    <button class="btn" [routerLink]="['/albums-by-user', user.id]">See Albums</button>
    <button class="btn" [routerLink]="['/user-todos', user.id]">See Tasks</button>
  </div>
</div>