<h1 class="text-center">User Galery</h1>
<div class="galery_container">
  <div *ngFor="let photo of galery">
    <div class="photo_card">
      <img [src]="[photo?.thumbnailUrl]" alt="" />
      <p>{{ photo.title }}</p>
      <button class="btn-delete" (click)="delete(photo.id)">delete</button>
    </div>
  </div>
</div>
