.galery_container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.photo_card{
  padding: 10px;
  border-radius: 5px;
  background-color: rgba($color: #DEE2EC, $alpha: 0.6);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: 300px;
}