.album_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.album_card{
  padding: 15px;
  width: 95%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgba($color: #DEE2EC, $alpha: 0.6);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: 0.5s ease-in-out;

  &:hover{
    cursor: pointer;
    width: 97%;
  }
}