<h1 class="text-center">{{user.name}} Albums</h1>
<div class="album_container">
  <div *ngFor="let album of albumsList">
    <div class="album_card" [routerLink]="['/albums-detail', album.id]">
    <h3>{{ album.title }}</h3>
  </div>
  </div>
</div>
