.comments_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.comments_card{
  background-color: rgba($color: #DEE2EC, $alpha: 0.6);
  padding: 10px;
  border-radius: 5px;
}