<h1 class="text-center">Post Comments</h1>
<div class="comments_container">
  <div *ngFor="let comment of commentsList">
    <div class="comments_card">
      <h5 class="text-center">{{ comment.email }}</h5>
      <p>{{ comment.name }}</p>
      <p>{{ comment.body }}</p>
    </div>
  </div>
</div>
