.btn_container{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.btn{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 255, 255, 0.753);
  font-weight: bolder;

  &:hover{
    background-color: rgba(0, 183, 255, 0.637);
  }
}

.btn-delete{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #E42C14;
  font-weight: bolder;

  &:hover{
    background-color: #FA1F1F;
  }
}