.album_container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.album_card{
  padding: 15px;
  border-radius: 5px;
  height: 150px;
  background-color: rgba($color: #DEE2EC, $alpha: 0.6);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  h4{
    font-size: 24px;
    text-align: center;
  }

  &:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 14px 28px, rgba(0, 0, 0, 0.32) 0px 10px 10px;
  }
}