<h1 class="text-center">Albums List</h1>
<div class="album_container">
<div *ngFor="let album of albumsList">
  <div class="album_card" [routerLink]="['/albums-detail', album.id]">
    <h4>{{album.title}}</h4>
  </div>
</div>
</div>
